body{
  background-color: rgba(35, 39, 200, 0.1);
}
#playing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  display: flex;
  justify-content: space-between;
  width: 250px;
  height: 350px;
  background-color: white;
  font-size: 50px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 2px 4px 10px grey;
  
}
.left {
  align-self: flex-start;
  
}
.middle {
  align-self: center;
  display: flex;
  flex-direction: column;
  font-size: 100px;
  font-weight: bold;
}
.right {
  align-self: flex-end;
  
}
.red {
  color: red;
}
.flipped {
  transform: rotate(180deg)
}
div {
  padding: 4px;
  display: block;
}
.card:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 4px 8px 15px rgba(200, 200, 200, 0.3);
  transition: 0.3s ease;
}
.card:active {
  background-color: rgba(0, 200, 0, 0.5);
  transition: 0.3s ease;
}
